@model Entities.User

@{
    ViewData["Title"] = "My profile";
}

<h1>@Model.FirstName @Model.Lastname</h1>
<div>
    <hr />
    <img class="avatar" src="@Model.PhotoURL" alt="User Image" height="200"/>
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Id)
        </dd>
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class="col-sm-2">
            Followers
        </dt>
        <dd class="col-sm-10">
            @if (Model.Followers == null || Model.Followers.Count() == 0)
            {
                    <p><b>0</b> seguidores</p>
            }
            else
            {
                    <p><b>@Model.Followers.Count().ToString()</b> seguidores</p>
            }
        </dd>
        <dt class="col-sm-2">
            Posts
        </dt>
        <dd class="col-sm-10">
            @if (Model.Posts == null || Model.Posts.Count == 0)
            {
                    <p><b>0</b> postagens</p>
            }
            else
            {
                    <p><b>@Model.Posts.Count</b> postagens</p>
            }
        </dd>
        <dt class="col-sm-2">
            Posts
        </dt>
        <dd class="col-sm-10">
            @if (Model.Comments == null || Model.Comments.Count == 0)
            {
                    <p><b>0</b> comentários</p>
            }
            else
            {
                    <p><b>@Model.Comments.Count</b> comentários</p>
            }
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Editar Perfil", "Edit", new { id = Model.Id }) |
    <a asp-action="Index">Back to List</a>
</div>
